##**Operados de associação**

In [ ]:
 #(in) Retorna verdadeiro se um caracter  ou sequencia de caracteres for encontrado dentro de uma string.

# Exemplo 1
nome = 'Franciane'
'ane' in nome

True

In [ ]:
# Exemplo 2
nome = 'Franciane'
'Ane' in nome

False

In [ ]:
# Exemplo 3
nome1 = 'Victor Gabriel'
'vic' in nome1
# Exemplo 4
nome = 'Marcos'
'mar' in nome.lower()

* (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres **NÃO** for encontrado dentro de uma string

In [ ]:
nome = 'daniela'
teste1 = 'Dani' not in nome
print('Dani não está contido em daniela? ', teste1)

Dani não está contido em daniela?  True

In [ ]:
# Exemplo 5
nome = input('Digite seu nome: ')
'mar' in nome.lower()

Digite seu nome: As

False

## **Operador indentidade** *texto em itálico*

* (is) compara se um objeto é igual ao outro em relação ao valor e o tipo

In [ ]:
# Entrada de dados
h = 3
p = 3

# Segunda comparação
teste3 = p is h # Lê "is" como "é"

# Outra forma de impressão na tela
teste3

True

In [ ]:
# Entrada de dados
h = 3
p = 3.0

# Segunda comparação
teste4 = p == h

# Outra forma de impressão na tela
teste4

True

In [ ]:
# Entrada de dados
h = 3
p = 3.0

# Segunda comparação
teste5 = p is h

# Outra forma de impressão na tela
print(teste5)

print(type(h))
print(type(p))

False
<class 'int'>
<class 'float'>

In [ ]:
# Entrada de dados
h = 'MARIA'
p = 'maria'

# Segunda comparação
teste6 = p is h # lembrando que o python é case sensitive

# Outra forma de impressão na tela
print(teste6)

print(type(h))
print(type(p))

False
<class 'str'>
<class 'str'>

In [ ]:
# Entrada de dados
h = 3.0
p = 3.0

# Segunda comparação
teste7 = p is h # lembrando que o python é case sensitive

# Outra forma de impressão na tela
print(teste7)

print(type(h))
print(type(p))

False
<class 'float'>
<class 'float'>

In [ ]:
# Ideias do Filipe - trazer informações sobre essa situação.
a = 10.1
b = 10.2
soma = a + b
print(soma)
print(round(soma,1))

20.299999999999997
20.3

* (is not) compara se um objeto é diferente do outro em relação ao valor e tipo.

In [ ]:
# Entrada de dados
h = 3
p = 4

# Segunda comparação
teste8 = h != p

# Outra forma de impressão na tela
teste8

True

In [ ]:
# Entrada de dados
h = 3
p = 4

# Segunda comparação
teste9 = h is not p # is not lê-se "não é"

# Outra forma de impressão na tela
teste9

True

## **Estruturas de Dados**

In [ ]:
# Uma lista é um objeto que pode ser vazio ou ter varios elementos.
# Podemos localizar elementos dentro da lista através de índices
# como fizemos nas strings,
# inclusive podemos fazer fatiamento se necessário

lista = ['dado1', 'dado2', 'dado3', 'dado4', 'dado5']

# indices     0         1         2        3        4
# reverso    -5        -4        -3       -2       -1

# Qual é o quinto elemento da minha lista de forma direta e inversa?
print(lista[4])
print(lista[-1])

dado5
dado5

In [ ]:
# Vamos criar uma lista real
lista = ['banana', 2.0, True, -2, 34, 'Bel']
lista

['banana', 2.0, True, -2, 34, 'Bel']

In [ ]:
# len() retorna o tamanho da lista
len(lista)

6

In [ ]:
# Consigo imprimir o tipo dos dados igual fizemos nos exemplos de antes?
print(type(lista))
print(type(lista[0]))

<class 'list'>
<class 'str'>

In [ ]:
# Vamos criar uma lista com input
alunos = input('Informe os nomes separados por espaços que você deseja cadastrar: ')
nomes = alunos.split()
print(nomes)

Informe os nomes separados por espaços que você deseja cadastrar:  Bruno Arthur Carina Felipe Juliana Kleisson Luane Lucas Marcos Vanessa Vinicius
['Bruno', 'Arthur', 'Carina', 'Felipe', 'Juliana', 'Kleisson', 'Luane', 'Lucas', 'Marcos', 'Vanessa', 'Vinicius']

In [ ]:
# len(): retorna o tamanho da lista
len(nomes)

11

In [ ]:
# O 4° nome dessa lista.
# Os nomes do 2º ao 5° nome dessa lista.
# O 8° nome da lista
# Os nomes do 7º ao 10° nome dessa lista.

# 1. O 4° nome dessa lista
quarto_nome = nomes[3]
print(quarto_nome)

#Professora
print(nomes[3])

# 2. Os nomes do 2º ao 5°
segundo_ao_quinto_nome = nomes[1:5]
print(segundo_ao_quinto_nome)

# Professora
print(nomes[1:5])

# 3. O 8° nome da lista
oitavo_nome = nomes[7]
print(oitavo_nome)

# Professora
print(nomes[7])

# 4. Os nomes do 7º ao 10°
setimo_ao_quinto_nome = nomes[6:10]
print(setimo_ao_quinto_nome)

# Professora
print(nomes[6:10])

Felipe
Felipe
['Arthur', 'Carina', 'Felipe', 'Juliana']
['Arthur', 'Carina', 'Felipe', 'Juliana']
Lucas
Lucas
['Luane', 'Lucas', 'Marcos', 'Vanessa']
['Luane', 'Lucas', 'Marcos', 'Vanessa']

In [ ]:
# Inserindo valores em uma lista pelo método append
# por padrão o método append vai inserir o elemento na ultima posição
# mantendo os demais que eventualmente já existem

descarte = []
print(descarte)

descarte.append('bateria')
print(descarte)

descarte.append('mouse')
print(descarte)

descarte.append('cabo')
print(descarte)

descarte.append('CADEIRA')
print(descarte)

[]
['bateria']
['bateria', 'mouse']
['bateria', 'mouse', 'cabo']
['bateria', 'mouse', 'cabo', 'CADEIRA']

In [ ]:
# Método insert() insere um valor em qualquer lugar da lista
descarte.insert(-7, 'alunos')
print(descarte)

['alunos', 'bateria', 'mouse', 'cabo', 'alunos', 'CADEIRA', 'alunos']

In [ ]:
# Método remove() remove o elemento que está dentro do parênteses
descarte.remove('alunos')
print(descarte)

['bateria', 'mouse', 'cabo', 'alunos', 'CADEIRA', 'alunos']

In [ ]:
# Método pop() remove o elemento pelo índice
descarte.pop(4)
print(descarte)

['mouse', 'cabo', 'alunos', 'CADEIRA']

In [ ]:
# Método reverse() inverte a ordem da lista
descarte.reverse()
print(descarte)

['CADEIRA', 'alunos', 'cabo', 'mouse']

In [ ]:
# Método copy() retorna uma cópia da lista
descarte_bkp = descarte.copy()
descarte_bkp

['CADEIRA', 'alunos', 'cabo', 'mouse']

In [ ]:
# Concatenação de listas

lista1 = [0, 1, 2, 3, 4]
lista2 = [10, 11, 12, 13, 14]

lista_oficial = lista1 + lista2
lista_oficial

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]